<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" type="text/css">
    <title>Find your food.</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>